/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import "_tailwind-preflight";
@import "_tailwind-components";
@import "_tailwind-utilities";

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */
html {
  background: #081421;
}
.bg-dark {
  background: #081421;
}
.code-area {
  @apply text-grey-darker;
  @apply text-2xl;
  @apply absolute;
  width: 500px;
  min-width: 320px;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
